$bg-color: #101010;
$tt-blue: #1da1f2;
$border-color: rgba(128, 128, 128, 0.397);
$padding: 0px 20px;
$font-sec: "Segoe UI";
$font-main: "Roboto";

@mixin flexCenter($justify, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin flexStart($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: flex-start;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.tt-btn {
  @include flexCenter(center);
  text-align: center;
  border-radius: 50px;
  background-color: $tt-blue;
  height: 50px;
  width: 235px;
}

#App {
  font-family: "Segoe UI";
  display: grid;
  width: 100%;
  height: 100vh;
  color: #202020;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "left-side header right-side"
    "left-side main-area right-side";
}

h1 {
  font-family: "Segoe UI";
  font-weight: bolder;
  margin: 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ddd;
  grid-area: left-side;
  background-color: $bg-color;
  padding: 10px 40px;

  i {
    margin-right: 20px;
    font-size: 25px;
    color: white;
  }

  .fa {
    height: 20px;
    width: 20px;
  }

  .icons-container {
    h1 {
      color: #ddd;
      font-size: 1.3rem;
      letter-spacing: 1px;
      color: white;
      flex-grow: 1;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 550px;
  }

  .left-side-container {
    display: flex;
    height: 500px;
  }
}

.bookmark,
.home,
.notifications,
.messages,
.explore,
.more,
.profile,
.lists {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.header {
  @include flexCenter(space-between, row);
  padding: $padding;
  color: #fff;
  grid-area: header;
  background-color: $bg-color;
  border-right: solid 1px $border-color;
  border-left: solid 1px $border-color;

  h1 {
    font-family: "Segoe UI";
    font-weight: bolder;
    font-size: 20px;
  }
}

.main-area {
  padding: 10px 20px;
  color: #fff;
  grid-area: main-area;
  background-color: $bg-color;
  border: solid 1px $border-color;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-item {
  @include flexCenter(center);

  img {
    height: 60px;
    width: 60px;
    border-radius: 150px;
  }

  .user-name-container {
    box-sizing: content-box;
    @include flexCenter(center);
    height: 20px;

    h2 {
      font-family: $font-sec;
      font-weight: 100;
      font-size: 16px;
      margin-left: 5px;
      color: #aaa;
    }
  }

  .avatar-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
    width: 70px;
  }
  .main-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 18px;
    }

    h3 {
      margin: 0;
      font-family: $font-sec;
      font-size: 16px;
    }
  }
}

.right-side {
  padding: $padding;
  color: #fff;
  grid-area: right-side;
  background-color: $bg-color;
}
