$bg-color: #101010;
$tt-blue: #1da1f2;
$border-color: rgba(128, 128, 128, 0.397);
$padding: 0px 20px;
$font-sec: "Segoe UI";
$font-main: "Roboto";
$font-light-color: #808080;
$font-bold-color: #ddd;
$item-color: #171717;

@mixin flexCenter($justify, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin flexStart($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: flex-start;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.tt-btn {
  @include flexCenter(center);
  text-align: center;
  border-radius: 50px;
  background-color: $tt-blue;
  height: 50px;
  width: 235px;
}

.btn-blue {
  border-radius: $tt-blue;
  padding: 5px 10px;
  background-color: $item-color;
}

#App {
  font-family: "Segoe UI";
  display: grid;
  width: 100%;
  height: 100vh;
  color: #202020;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "left-side header right-side"
    "left-side main-area right-side";
}

h1 {
  font-family: "Segoe UI";
  font-weight: bolder;
  margin: 0;
}

.left-side {
  // position: fixed;
  // // left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ddd;
  grid-area: left-side;
  background-color: $bg-color;
  padding: 10px 40px;

  i {
    margin-right: 20px;
    font-size: 25px;
    color: white;
  }

  .fa {
    height: 20px;
    width: 20px;
  }

  .icons-container {
    h1 {
      color: #ddd;
      font-size: 1.3rem;
      letter-spacing: 1px;
      color: white;
      flex-grow: 1;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 550px;
  }

  .left-side-container {
    display: flex;
    height: 500px;
  }
}

.bookmark,
.home,
.notifications,
.messages,
.explore,
.more,
.profile,
.lists {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.header {
  @include flexCenter(space-between, row);
  padding: $padding;
  color: #fff;
  grid-area: header;
  background-color: $bg-color;
  border-right: solid 1px $border-color;
  border-left: solid 1px $border-color;

  h1 {
    font-family: "Segoe UI";
    font-weight: bolder;
    font-size: 20px;
  }
}

.main-area {
  position: relative;
  padding: 10px 0px;
  color: #fff;
  grid-area: main-area;
  background-color: $bg-color;
  border: solid 1px $border-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // absolute makes border possible;
  // position: absolute;
  border-bottom: solid 1px $border-color;
  padding: 10px 20px;
  width: 100%;

  .tweet-area {
    width: 100%;
  }

  .up-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    // justify-content: flex-start;
  }

  .down-part {
    @include flexCenter(space-between);
    height: 20px;
    margin: 10px 0px;

    h2 {
      margin-left: 10px;
      font-size: 12px;
    }

    .icon-container {
      @include flexCenter(center);
      font-family: $font-sec;
      font-weight: 100;
      font-size: 16px;
      height: 20px;
      color: #aaa;
    }
  }

  .photo-area {
    img {
      border-radius: 25px;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    margin: 10px 0px;
    height: 283.5px;
    width: 448px;
    border-radius: 25px;
    background-color: yellow;
  }

  .user-name-container {
    box-sizing: content-box;
    @include flexCenter(center);
    height: 20px;

    h2 {
      font-family: $font-sec;
      font-weight: 100;
      font-size: 16px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
      color: #aaa;
    }
  }

  .avatar-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    object-fit: scale-down;
    border-radius: 150px;
    background-color: yellow;

    img {
      height: 60px;
      width: 60px;
      border-radius: 150px;
    }
  }

  .main-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 18px;
    }

    h3 {
      margin: 0;
      font-family: $font-sec;
      font-size: 16px;
    }
  }
}

.right-side {
  padding: $padding;
  color: #fff;
  grid-area: right-side;
  background-color: $bg-color;

  h1 {
    font-size: 18px;
    color: $font-bold-color;
  }

  .search-bar-container {
    margin-bottom: 15px;
    .search-bar-wrapper {
      @include flexCenter(flex-start);
      padding: $padding;
      border-radius: 50px;
      height: 50px;
      width: 325px;
      background-color: #202020;
      color: #ccc;

      .search-bar {
        padding: $padding;
        border-radius: 50px;
        height: 50px;
        width: 325px;
        border: none;
        outline: none;
        background-color: #202020;
        font-family: $font-sec;
        color: #ccc;
        &:focus {
          border: none;
        }
      }
    }
  }

  .right-side-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // border-radius: 10px;
    // background-color: #202020;

    .right-side-item {
      // margin-top: 20px;
      height: 480px;
      width: 325px;
      border-radius: 10px;
      background-color: $item-color;
      word-wrap: normal;

      .right-side-item-up {
        @include flexCenter(flex-start);
        padding: 10px 15px;
        height: 50px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: solid 1px $border-color;
        background-color: $item-color;

        h1 {
          font-size: 20px;
          font-weight: 900;
        }
      }
      .right-side-item-bottom {
        @include flexCenter(flex-start);
        margin-bottom: 20px;
        padding: 10px 15px;
        height: 50px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: solid 1px $border-color;
        background-color: $item-color;

        h2 {
          font-size: 15px;
          color: $tt-blue;
        }
      }

      .item {
        @include flexCenter(space-between);
        padding: 10px 15px;
        height: 80px;
        width: 100%;
        border-bottom: solid 1px $border-color;

        .text-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          float: left;
          height: 100%;
          width: 230px;

          h2 {
            margin: 0px;
          }
        }

        .item-img {
          height: 60px;
          width: 60px;
          border-radius: 15px;
          background-color: #202020;
          // object-fit: scale-down;

          img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }

        h1 {
          font-size: 16px;
          color: #ddd;
        }

        h2 {
          font-family: $font-sec;
          font-weight: 100;
          font-size: 14px;
          color: #808080;
        }
      }
    }
    .right-side-who-to-follow {
      margin-top: 40px;
      height: 350px;
      width: 325px;
      border-radius: 10px;
      background-color: yellow;
      word-wrap: normal;

      .right-side-item-up {
        @include flexCenter(flex-start);
        padding: 10px 15px;
        height: 50px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: solid 1px $border-color;
        background-color: $item-color;

        h1 {
          font-size: 20px;
          font-weight: 900;
        }
      }
      .right-side-item-bottom {
        @include flexCenter(flex-start);
        margin-bottom: 20px;
        padding: 10px 15px;
        height: 50px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: solid 1px $border-color;
        background-color: $item-color;

        h2 {
          font-size: 15px;
          color: $tt-blue;
        }
      }

      .item {
        @include flexCenter(space-between);
        padding: 10px 15px;
        height: 80px;
        width: 100%;
        border-bottom: solid 1px $border-color;

        .text-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          float: left;
          height: 100%;
          width: 230px;

          h2 {
            margin: 0px;
          }
        }

        .item-img {
          height: 60px;
          width: 60px;
          border-radius: 15px;
          background-color: #202020;
          // object-fit: scale-down;

          img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }

        h1 {
          font-size: 16px;
          color: #ddd;
        }

        h2 {
          font-family: $font-sec;
          font-weight: 100;
          font-size: 14px;
          color: #808080;
        }
      }
    }
  }
}
